:root {
  --sncf-black-blue: #003a79;
  --sncf-white-blue: #007aff;
}

html {
  color: white;
  min-width: 25em;
  background: linear-gradient(var(--sncf-black-blue), var(--sncf-white-blue));
}
#title {
  font-size: larger;
  text-shadow: 1px 1px black;
}
#list-departures {
  display: none;
  margin: auto;
  border-collapse: collapse;
}
p {
  text-align: center;
}
search {
  text-align: center;
}
search label {
  display: block;
}
#btn-list {
  display: flex;
  justify-content: space-evenly;
}
#list-departures tr td {
  padding: 5px;
  color: white;
  margin: 0;
}

#list-departures tbody tr:nth-child(odd) {
  background-color: var(--sncf-white-blue);
}
#list-departures tbody tr:nth-child(even) {
  background-color: var(--sncf-black-blue);
}

#tracking-infos {
  text-align: center;
}

#station {
  border-radius: 10px;
  padding: 5px;
}

body > search > label {
  font-weight: bold;
}

button {
  border: 0;
  padding: 6px;
  border-radius: 10px;
  color: rgb(76, 76, 76);
  background: linear-gradient(rgb(147, 232, 249), rgb(6, 251, 251));
  box-shadow: 0 2px 2px black;
}

#set-untrack-btn {
  padding: 4px;
  margin-bottom: 4px;
}
